<!DOCTYPE html>
<html>
<head>
<title>变PLUS电影</title> 
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<link href="css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
<link href="css/style.css" type="text/css" rel="stylesheet" media="all"> 
<link rel="stylesheet" href="https://g.alicdn.com/de/prismplayer/2.8.1/skins/default/aliplayer-min.css" />
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<script src="https://cdn.bootcss.com/vue/2.6.8/vue.js"></script>
<script src="js/weixsb.js"></script>
</head>
<body class="bg" style="background:#000">
	<div id="app" class="agile-main"> 
		<div class="content-wrap">

			<div class="properties-top" style="margin-top: 50px;" v-if="show == false">
				<h3 class="w3ls-title">点击右上角三个点...</h3>
				<h3 class="w3ls-title">切换至浏览器打开</h3>
				<div style="width:100%; text-align:center; background:#1e9c95; color:#fff; height: 50px; line-height: 50px; font-size: 18px; margin-top: 20px;"
				>微信里看不了，看上面</div>
			</div> 


			<div class="content" v-if="show">
	
				<!-- properties -->
				<div class="w3agile properties" style="background: #000;">
					<div class="properties-top">
						<h3 class="w3ls-title">热线电影({{ count }}部)</h3>
						<p class="w3title-text">请保存好我们的网址，以便找到回家的路</p>
						<div style="width:100%; text-align:center; background:#1e9c95; color:#fff; height: 50px; line-height: 50px; font-size: 18px; margin-top: 20px;"
						>https://changeplus.github.io/</div>
					</div> 

					
					<div @click="movitem(item.id)" class="properties-bottom" v-for="(item,key) in list">
						<div class="properties-img" style="border-radius:20px" >
							<img :src="item.imgurl">
							<div style="text-align: center;height: 50px;line-height: 50px;font-size: 20px;font-family: inherit;">
								<b>{{ item.name }}</b>
							</div>
						</div>
					</div> 
 
					<div class="properties-top" @click="getmore" v-if="list.length < count">
						<div style="width:100%; text-align:center; background:#1e9c95; color:#fff; height: 50px; line-height: 50px; font-size: 18px; margin-top: 20px;"
						>点击还有更多</div>
					</div> 


				</div>
			</div>
		</div>
	</div> 

	<!-- menu-js -->
</body>
</html>

<script>
	new Vue({
        el: '#app',
        data: {
        	show:true,
			list:[],
			count:'',
		},
		mounted(){

			if(isWeiXin()){
				this.show = false;
				return;
			}

			$.ajax({
				url:"http://21025b11h2.iok.la:8088/index.php?r=site/index",
				success:(res)=>{
					this.list = res.list;
					this.count = res.count;
				}
			})
		},

        methods: {
			movitem(id){
				window.location.href = "/movitem.html?id=" + id;
			},
			getmore(){
				$.ajax({
				url:"http://21025b11h2.iok.la:8088/index.php?r=site/index&limit=" + (this.list.length + 10),
				success:(res)=>{
					this.list = res.list;
					this.count = res.count;
				}
			})

			}
        }
	})
	new Vue({
        el: '#app',
        data: {
        	show:true,
			list:[],
			count:'',
		},
		mounted(){

			if(isWeiXin()){
				this.show = false;
				return;
			}

			$.ajax({
				url:"http://21025b11h2.iok.la:8088/index.php?r=site/index",
				success:(res)=>{
					this.list = res.list;
					this.count = res.count;
				}
			})
		},

        methods: {
			movitem(id){
				window.location.href = "movitem.html?id=" + id;
			},
			getmore(){
				$.ajax({
				url:"http://21025b11h2.iok.la:8088/index.php?r=site/index&limit=" + (this.list.length + 10),
				success:(res)=>{
					this.list = res.list;
					this.count = res.count;
				}
			})

			}
        }
	})
	

</script>
<div style="display:none">
<script type="text/javascript" src="https://s23.cnzz.com/z_stat.php?id=1276451378&web_id=1276451378"></script>
</div>
